@font-face{
    font-family: "Raleway-thin";
    src: url(../fonts/Raleway-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family:"Raleway-regural";
    src: url(../fonts/Raleway-Regular.ttf);
    font-weight: 400;
}

@font-face{
    font-family: "Raleway-bold";
    src: url(../fonts/Raleway-Bold.ttf);
    font-weight: 700;
}

@font-face{
    font-family: "Raleway-black";
    src: url(../fonts/Raleway-Black.ttf);
    font-weight: 900;
}

@font-face{
    font-family:"Roboto-regural";
    src:url(../fonts/Roboto-Regular.ttf);
    font-weight:400;
}

@font-face {
    font-family: "Roboto-bold";
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight:700;
}